<!-- START: Content -->

<div class="section__content__inner--title smaller overflow-content">
    <p>The model has a “military side”, celebrating the Duke of Wellington’s victories, including the Battle of Waterloo and a “naval side” putting Lord Nelson’s achievements centre stage. Both sides were to have friezes of battle scenes and allegorical panels along with a selection of “winged victories” and other figures.</p>
    <p>On each end of the Arch these two themes were to have been repeated. One end bearing the word “Waterloo” and the other the word “Trafalgar” and under each, the names of commanders and battles.</p>
    <p>The model was never intended to be a definitive plan but rather to give an overall impression of how the finished article might look. It contains at least one big mistake, the military side is topped with the portrait of Nelson and the naval side with one of Wellington.</p>
    <p>Blore eventually decided to complete the Arch but without most of the sculpture. So the Arch today has only four allegorical panels and a little decoration. The ends are blank except for three laurel wreaths.</p>
</div>




<div class="content" id="skrollr-body">

	<!-- Scene 1 -->
    {{>scene1pageContent}}

	<!-- Scene 2 -->
	{{>scene2pageContent}}

	<!-- Scene 3 -->
	{{>scene3pageContent}}

	<!-- Scene 4 -->
	{{>scene4pageContent}}

	<!-- Scene 5 -->
	{{>scene5pageContent}}

	<!-- Scene 6 -->
	{{>scene6pageContent}}

	<!-- Scene 7 -->
	{{>scene7pageContent}}

	<!-- Scene 8 -->
	{{>scene8pageContent}}

	<!-- Scene 9 -->
	{{>scene9pageContent}}

	<!-- Scene 10 -->
	{{>scene10pageContent}}

	<!-- Scene 11 -->
	{{>scene11pageContent}}

	<!-- Scene 12 -->
	{{>scene12pageContent}}

	<!-- Scene 13 -->
	{{>scene13pageContent}}

	<!-- Scene 14 -->
	{{>scene14pageContent}}

	<!-- Scene 15 -->
	{{>scene15pageContent}}

	<!-- Scene 16 -->
	{{>scene16pageContent}}

	<!-- Scene 17 -->
	{{>scene17pageContent}}

	<!-- Scene 18 -->
	{{>scene18pageContent}}

	<!-- Scene 19 -->
	{{>scene19pageContent}}

	<!-- Scene 20 -->
	{{>scene20pageContent}}

	<!-- Scene 21 -->
	{{>scene21pageContent}}

	<!-- Scene 22 -->
	{{>scene22pageContent}}

    <!-- Scene 23 -->
    {{>scene23pageContent}}

</div>

<!-- START: Background images -->

<!-- Scene 1 -->
{{>scene1backgroundImage}}

<!-- Scene 2 -->
{{>scene2backgroundImage}}

<!-- Scene 3 -->
{{>scene3backgroundImage}}

<!-- Scene 4 -->
{{>scene4backgroundImage}}

<!-- Scene 5 -->
{{>scene5backgroundImage}}

<!-- Scene 6 -->
{{>scene6backgroundImage}}

<!-- Scene 7 -->
{{>scene7backgroundImage}}

<!-- Scene 8 -->
{{>scene8backgroundImage}}

<!-- Scene 9 -->
{{>scene9backgroundImage}}

<!-- Scene 10 -->
{{>scene10backgroundImage}}

<!-- Scene 9 -->
{{>scene11backgroundImage}}

<!-- Scene 12 -->
{{>scene12backgroundImage}}

<!-- Scene 13 -->
{{>scene13backgroundImage}}

<!-- Scene 14 -->
{{>scene14backgroundImage}}

<!-- Scene 15 -->
{{>scene15backgroundImage}}

<!-- Scene 16 -->
{{>scene16backgroundImage}}

<!-- Scene 17 -->
{{>scene17backgroundImage}}

<!-- Scene 18 -->
{{>scene18backgroundImage}}

<!-- Scene 19 -->
{{>scene19backgroundImage}}

<!-- Scene 20 -->
{{>scene20backgroundImage}}

<!-- Scene 21 -->
{{>scene21backgroundImage}}

<!-- Scene 22 -->
{{>scene22backgroundImage}}

<!-- Scene 23 -->
{{>scene23backgroundImage}}
