<div id="fullpage" data-one-page>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
</div>




{{#scene1}}
	{{> pageContent}}
{{/scene1}}
