/*------------------------------------*\
    BASE STYLES AND ENTRY POINT

    Documentaion:
    REM for font based elements using mixins:

    rem-font-size(20px)

    which gives you:
    font-size: 20px
    font-size: .9rem

    along with line-height(20px, 30)

    where 30 is the next multiple of the baseline value higher than the specified font size giving you:

    line-height: 1.1

    NO font size settig on component level.
    EMs for top and bottom padding and margin

    using em(20px) mixin.


\*------------------------------------*/





// Global Vaiables
@import "_variables";

// Global Mixins
@import "_mixins/_all";

// Base
@import "_base/_all";

// site objects
@import "_objects/_all";

// Site styles
@import "_components/_all";

// site utilities
@import "_utilities/_all";

// Vendor
@import "_vendor/_all";


// Testing Styles
@import "_shame";
