// Strips the unit character
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

// converts Photoshop letter spacing
@function letter-spacing($space) {
    @return ( $space / 1000 ) * 1em;
}

@mixin letter-spacing($space) {
    letter-spacing: letter-spacing($space);
}

@mixin center-block() {
    margin-right: auto;
    margin-left: auto;
}

@mixin reset-list() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin play-icon($color: $color-alpha) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent $color;
}

@mixin plus-link() {
	content: '';
	width: 30px;
	height: 30px;
	display: block;
	background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2031%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17%2013V8h-4v5H8v4h5v5h4v-5h5v-4h-5zm-2%2017c8.2842712%200%2015-6.7157288%2015-15S23.2842712%200%2015%200%200%206.7157288%200%2015s6.7157288%2015%2015%2015z%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
	position: absolute;
}

// Icon - chevron. Toggle down up checvrom for accordion, show more etc.
@mixin chevron-down-icon() {
	&:before, &:after {
		background-color: currentColor;
		border-radius: 10%;
		content: '';
		height: 12px;
		position: absolute;
		top: 30%;
		transition: all ease .3s;
		width: 2px;
		z-index: 100;
	}

	&:before {
		right: 9px;
		transform-origin: bottom center;
		transform: rotate(-45deg);
	}

	&:after {
		right: 10px;
		transform-origin: bottom center;
		transform: rotate(45deg);
	}

	&:active, &:focus {
		outline: none;
	}

	// Active state for accordion button - Icon animation
	&.is-active {
		border-bottom: solid 1px rgba($gray-r, 0);

		.accordion__button__icon {
			transform: rotate(180deg);
		}

		&:before, &:after {
			top: 25%;
		}

		&:before {
			transform: rotate(-135deg);
		}

		&:after {
			transform: rotate(135deg);
		}

		&:last-of-type {
			border: 0;
		}

	}
}

