/*------------------------------------*\
    FLOATS & POSITIONING
\*------------------------------------*/


/* Floats
 -----------------------------------*/
.float--left {
    float: left;
}

.float--right {
    float: right;
}

.float--none {
    float: none;
}
.centered-content {
	text-align: center;
}
