<!-- Background Images -->
{{#if backgroundImage}}
<div class="scene-bg scene-bg--3"
	data-200p="opacity: 1;"
	data-300p="opacity: 0;"
	style="background-image: url('/images/scenes/{{backgroundImage}}');
"></div>
{{/if}}
