<!-- START : component -->
<div id="scene14" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">

        <h2 class="color--green title">Todays Arch</h2>

        <div class="section__content__inner--title smaller dark-copy overflow-content">
            <p>The whole Arch is clad in Ravaccione, a grey/white type of Carrara marble from Italy. This was the first time marble had been used in this way on any British building. The eight enormous Corinthian columns were each cut from a single slab of marble.</p>

            <p><strong>North side of the Arch</strong><br>
                The sculpted panels on this side are by Richard Westmacott who also produced the statue of Achilles nearby at Hyde Park Corner. </p>
                <p><strong>Left Panel:</strong> Three female figures representing England (centre) wearing Britannia’s helmet, Ireland (left) with her harp and Scotland (right) with the shield of St Andrew. </p>
            </div>

    </div>

    <div class="section__content__inner section__content__inner--right-50">

        <div class="section__content__inner--title smaller dark-copy">
            <img src="images/scenes/scene14/scene14-sub-image.jpg" alt="Peace with Trophies of War" />
            <span class="caption">Ireland, England, Scotland © Historic England Archive.</span>
        </div>

    </div>

    </div>

</div>
<!-- END : component -->
