<!-- START : component -->
<div id="scene12" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">
            <div class="section__content__inner--title smaller dark-copy">
                <p>On the eastern end of the gallery at roof level is the figure of Britannia who was to have held a portrait of Nelson. Nelson is gone and Britannia’s trident has been replaced with a spear to transform her into Minerva, goddess of wisdom.</p>
            </div>
        </div>

        <div class="section__content__inner section__content__inner--right-50">
            <div class="image-wrap">
                <div class="smaller dark-copy sub-image scene21-sub-image"></div>
                <span class="sub-image-cation caption">Britannia/Minerva by Neddyseagoon at the English language Wikipedia.</span>
            </div>
        </div>

    </div>

</div>
<!-- END : component -->
