<!-- START : component -->
<div id="scene3" class="scene section">

    <div class="section__content">

        <div class="section__content__inner section__content__inner--right-50"
        data-bottom-top="opacity: 0;"
        data-center="opacity: 1;"
        data-top-bottom="opacity: 0;"
        >
            <h1 class="section__content__inner--title">{{title}}
                <span class="caption">{{caption}}</span>
            </h1>

        </div>

    </div>

</div>
<!-- END : component -->
