<!-- Background Images -->
<div class="scene-bg scene-bg--22"
	data-2100p="opacity: 1;"
	data-2200p="opacity: 1;"
	style="background-image: url('images/scenes/scene20/scene20.jpg')";
	>

	<div class="bg--inner background-color--black--lighter"></div>

</div>
