<!-- START : component -->
<div id="scene17" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">

        <div class="section__content__inner--title smaller dark-copy">
            <p><strong>The Central Gates </strong><br>Originally planned to be cast in “mosaic gold”, the gates were actually cast in less expensive bronze. Each gate features the same three designs: a lion at the top, George IV’s cypher in the middle and St George slaying the dragon at the bottom. </p>
            <p>The smaller side gates were added in 1851.</p>
        </div>

    </div>

    <div class="section__content__inner section__content__inner--right-50">
        <div class="image-wrap">
            <div class="smaller dark-copy sub-image scene17-sub-image"></div>
            <span class="sub-image-cation caption">St George slaying the dragon.</span>
        </div>
    </div>

    </div>

</div>
<!-- END : component -->
