<!-- START : component -->
{{#if pageContent}}
    <section class="scene1">
        {{#with pageContent}}
            {{#if title}}<h1>{{title}}</h1>{{/if}}
        {{/with}}
    </section>
{{/if}}
<!-- END : component -->
