<!-- START : component -->
<div id="scene8" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--right-50">
            <div class="section__content__inner--title">
                <p>
                    The Arch was completed in 1833 although the central gates were not added until 1837, just in time for Queen Victoria’s accession to the throne
                </p>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
