<!-- Background Images -->
<div class="scene-bg scene-bg--19"
	data-1800p="opacity: 1;"
	data-1900p="opacity: 0;"
	style="background-image: url('images/scenes/scene18/scene18.jpg')";
	>

	<div class="bg--inner background-color--green"></div>

</div>
