<!-- Background Images -->
{{#if backgroundImage}}
<div class="scene-bg scene-bg--2"
	data-100p="opacity: 1;"
	data-200p="opacity: 0;"
	style="background-image: url('/images/scenes/{{backgroundImage}}');
"></div>
{{/if}}
