<!-- START : component -->
<div id="scene2" class="scene section">

    <div class="section__content">

        <ul class="menu"
        data-bottom-top="opacity: 0;"
        data-center="opacity: 1;"
        data-top-bottom="opacity: 0;"
        >
            <!-- <li class="menu__item"><a class="menu__link" href="#scene3">Introduction</a></li> -->
            <li class="menu__item"><a class="menu__link" href="#scene4">A Triumphal Arch</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene6">A Sculptural Puzzle</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene10">What Happened to the Rest of the Sculpture?</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene15">A New Home for Marble Arch</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene18">Today’s Arch</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene22">Common Myths</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene27">Poem by Sir John Betjeman </a></li>
            <li class="menu__item"><a class="menu__link" href="#scene29">Acknowledgements</a></li>
        </ul>

    </div>

</div>
<!-- END : component -->
