<!-- START : component -->
<div id="scene8" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">
            <div class="section__content__inner--title smaller">
                <p>The model has a "military side", celebrating the Duke of Wellington’s victories, including the Battle of Waterloo and a “naval side” putting Lord Nelson’s achievements centre stage. Both sides were to have friezes of battle scenes and allegorical panels along with a selection of “winged victories” and other figures.</p>
                <p>On each end of the Arch these two themes were to have been repeated. One end bearing the word "Waterloo" and the other the word "Trafalgar" and under each, the names of commanders and battles.</p>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
