<!-- START : component -->
<div id="scene10" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">

            <div class="section__content__inner--title">
                <p>The other significant surviving remnant is the Equestrian Statue of George IV, by Francis Chantrey, which stands on a plinth in the north-eastern corner of Trafalgar Square.</p>

                <span class="caption">Equestrian statue of George IV&copy; ConwayLibrary, The Courtauld Institute of Art, London.</span>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
