<!-- START : component -->
<div id="scene8" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--right-50">
            <div class="section__content__inner--title smaller">

                <img src="images/scenes/scene7/scene7.jpg" alt="London’s most recognisable landmark" class="hide-above--medium" />

                <p>The model was never intended to be a definitive plan but rather to give an overall impression of how the finished article might look. It contains at least one big mistake, the military side is topped with the portrait of Nelson and the naval side with one of Wellington.</p>
                <p>Blore eventually decided to complete the Arch but without most of the sculpture. So the Arch today has only four allegorical panels and a little decoration. The ends are blank except for three laurel wreaths.</p>
            </div>
        </div>

    </div>

</div>
<!-- END : component -->
