<!-- START : component -->
<div id="scene6" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">

            <h1 class="color--white title">A sculptural puzzle</h1>

            <div class="section__content__inner--title smaller">
                <p>By 1830 most of the statues and panels were complete and Nash’s work at Buckingham Palace and on the Arch was progressing. And then the King died. </p>
                <p>Shortly after the King’s death Nash was sacked by the Prime Minister, the Duke of Wellington, for overspending on the project. The architect Edward Blore was commissioned to complete the works in a more economic and practical fashion. </p>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
