<!-- START : component -->
<div id="scene9" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">

            <h1 class="color--green title">What happened to the rest of the sculpture?</h1>

            <div class="section__content__inner--title smaller dark-copy">
                <p>Blore incorporated most of the battle scene friezes high up in the central courtyard of Buckingham Palace. In 1835 the rest of the sculptures were given to William Wilkins to use in the construction of the new National Gallery.<p>
                <p>Wilkins did manage to use some of the statues but wanted less military symbolism so he adapted many of them. Figures representing Asia, seated on a camel, and Europe sat upon a horse with an empty frame between them can still be seen above the main door of the gallery.</p>
                <p>Above both the western and eastern doors of the gallery are some figures of “winged victories”, many shorn of their wings, some have had their laurel wreaths replaced, one now holds a painter’s easel and brushes.</p>
                <p>A portrait of Wellington that was to have filled the empty frame between Europe and Asia is now inside the staff entrance to the gallery.</p>
                <p>On the eastern end of the gallery at roof level is the figure of Britannia who was to have held a portrait of Nelson. Nelson is gone and Britannia’s trident has been replaced with a spear to transform her into Minerva, goddess of wisdom.</p>
            </div>

        </div>

        <div class="section__content__inner section__content__inner--right-50">

            <div class="section__content__inner--title smaller dark-copy">
                <img src="images/scenes/scene9/scene9-sub-image.jpg" alt="Buckingham Palace" />
                <span class="caption">Winged victories on the National Gallery by Bob Speel. </span>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
