<!-- START : component -->
<div id="scene16" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">

        <div class="section__content__inner--title smaller">
            <p>The removal was a success, vast crowds of people passed through the Arch en route to the Great Exhibition in Hyde Park and Marble Arch remained a grand and direct entrance to the park for more than 50 years.</p>
            <p>In 1908 a new road scheme cut through the park just south of the Arch leaving it completely separated from Hyde Park. In the 1960s roads were widened still further, leaving the Arch in its current isolated position, no longer part of a Royal Park. The grounds around the Arch are today maintained by Westminster City Council. In 1970 the Arch gained its Grade I listed status.</p>
        </div>

    </div>

    </div>

</div>
<!-- END : component -->
