<!-- START : component -->
<div id="scene4" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">

            <h1 class="color--green title">A Triumphal Arch</h1>

            <p class="section__content__inner--title smaller dark-copy">John Nash (1752-1835) was the favoured architect of the Prince Regent, later King George IV. Under George’s auspices Nash designed and planned such landmarks as Regent’s Park, Regent Street, Carlton House Terrace, much of Buckingham Palace and Marble Arch. Marble Arch was designed to be both a grandiose gateway to an expanded Buckingham Palace and an exuberant celebration of British victories in the Napoleonic Wars – a Triumphal Arch. But the Grade I listed Arch that we see today is nowhere near as grand as Nash originally intended.</p>

        </div>

        <div class="section__content__inner section__content__inner--right-50">

            <div class="section__content__inner--title smaller dark-copy">
                <img src="/images/scenes/scene4/scene4-sub-image.jpg" alt="Buckingham Palace" />
                <span class="caption">Buckingham Palace: the east front from St James’s Park by Joseph Nash 1846 with permission from Royal Collection Trust © Her Majesty Queen Elizabeth II 2016.</span>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
