<!-- START : component -->
<div id="scene1" class="scene section">

    <div class="section__content minus-margin">

        <h1 class="section__title">
        The Story of Marble Arch
            <a class="section__sub-title" href="#scene2">Begin
                <svg class="icon section__sub-title__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-point-to-down"></use>
                </svg>
            </a>
        </h1>

    </div>

</div>
<!-- END : component -->
