<!-- START : component -->
<div id="scene22" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-40">

        <div class="section__content__inner--title smaller overflow-content">
            <p>Sir John Betjeman (1906-1984) was Britain’s Poet Laureate from 1972 until his death. When his Collected Poems came out in 1958 they made publishing history and have since sold over two and a quarter million copies.</p>
            <p>But Betjeman was not only a poet. Through his broadcasting and journalism he opened people’s eyes to the value of the buildings and landscape around them and became Britain’s grand champion of its heritage.</p>
            <p>This poem was written specially for the 1968 documentary, “Contrasts: Marble Arch to Edgware” and recited by Betjeman from the roof of Marble Arch.</p>
        </div>

    </div>

    <div class="section__content__inner section__content__inner--right-60">

        <h1 class="color--white title minus100-margin">Poem by Sir John Betjeman</h1>

        <div class="section__content__inner--title smaller overflow-content">
            <p>How beautiful the London air, how calm and unalarming
This height above the archway where the prospects round are charming.
Oh come and take a stroll with me and do not fear to stumble.
Great Cumberland, your place I see, I hear your traffic rumble.
See Oxford Street on my left hand, a chasm full of shopping.
Below us traffic lights command the starting and the stopping.
And on my right the spacious park, so infinitely spacious,
So pleasant when it isn’t dark but when it is - good gracious!
What carriages below these skies came rolling by on Mondays.
What church parades would greet the eyes here in Hyde Park on Sundays.
And trodden by unheeding feet a spot which memory hallows:
Where Edgware Road meets Oxford Street stood Tyburn’s fearsome gallows.
What martydoms this place has seen, what deeds much better undone.
Yet still the greatest crime has been the martyrdom of London.
For here where once were pleasant fields and no one in a hurry
Behold the harvest Mammon yields of speed and greed and worry.
The rights of man, the rights of cash, the left, the right, the centre;
Come on, let’s off and make a dash, and meet it where we enter
The road that no-one looks upon, except as birds of passage:
Oh Edgware Road be our abode, and let us hear your message.</p>

<p>&copy; John Betjeman, 1968<p>
        </div>

    </div>

    </div>


</div>
<!-- END : component -->
