<!-- START : component -->
<div id="scene5" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--left-50">
            <div class="section__content__inner--title smaller dark-copy">
                <p>This model, now in the Victoria and Albert Museum, gives an impression of how Marble Arch might have looked. Nash had it made to illustrate his intended design to George IV. </p>
                <p>Bristling with sculpture, including an imposing equestrian statue of George IV crowning the structure, the overall design was approved and sculptures were commissioned in 1828.</p>
                <p>Had George IV lived a little longer we would certainly have a very different Marble Arch today.</p>
            </div>

        </div>

        <div class="section__content__inner section__content__inner--right-50">

            <div class="section__content__inner--title smaller dark-copy">
                <img src="images/scenes/scene5/scene5-sub-image.jpg" alt="Architectural model of Marble Arch" />
                <span class="caption">Architectural model of Marble Arch c.1826 © Victoria and Albert Museum, London.</span>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
