<!-- Background Images -->
{{#if backgroundImage}}
<div class="scene-bg scene-bg--1"
	data-0="opacity: 1;"
	data-100p="opacity: 0;"
	style="background-image: url('/images/scenes/{{backgroundImage}}');
"></div>
{{/if}}
