<!-- Background Images -->
<div class="scene-bg scene-bg--20"
	data-1900p="opacity: 1;"
	data-2000p="opacity: 0;"
	style="background-image: url('images/scenes/scene19/scene19.jpg')";
	>

	<div class="bg--inner background-color--black--lighter"></div>

</div>
