<!-- START : component -->
<div id="scene13" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-75">

        <div class="section__content__inner">

            <ul class="dates">
                <li class="date__item">
                    <div class="date">
                        1850
                    </div>
                    <div class="description">
                        The decision was taken to move the Arch to Cumberland Gate
                    </div>
                </li>

                <li class="date__item">
                    <div class="date">
                        1908
                    </div>
                    <div class="description">
                        A new road scheme separates the Arch from Hyde Park
                    </div>
                </li>

                <li class="date__item">
                    <div class="date">
                        1960
                    </div>
                    <div class="description">
                        Roads were widened leaving the Arch in an isolated position
                    </div>
                </li>

                <li class="date__item">
                    <div class="date">
                        1970
                    </div>
                    <div class="description">
                        Marble Arch gains Grade I listed status
                    </div>
                </li>
            </ul>

        </div>

    </div>

    </div>

</div>
<!-- END : component -->
