<!-- Background Images -->
<div class="scene-bg scene-bg--23"
	data-2200p="opacity: 1;"
	data-2300p="opacity: 1;"
	style="background-image: url('images/scenes/scene19/scene19.jpg')";
	>

	<div class="bg--inner background-color--black--lighter"></div>

</div>
