<!-- START : component -->
<div id="scene3" class="scene section">

    <div class="section__content">

        <div class="section__content__inner section__content__inner--right-50"
        data-bottom-top="opacity: 0;"
        data-center="opacity: 1;"
        data-top-bottom="opacity: 0;"
        >
            <div class="section__content__inner--title">
                <p>
                    Discover the truth behind one of London’s most recognisable landmarks as we uncover the story of Marble Arch
                </p>
                <span class="caption">Marble Arch after 1908. Reproduced by permission Historic England Archive.</span>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
