<!-- START : component -->
<div id="scene28" class="scene section ">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--right-50">
        <div class="section__content__inner--title smaller">
            <p>Where Edgware Road meets Oxford Street stood Tyburn’s fearsome gallows.
    What martydoms this place has seen, what deeds much better undone.
    Yet still the greatest crime has been the martyrdom of London.
    For here where once were pleasant fields and no one in a hurry
    Behold the harvest Mammon yields of speed and greed and worry.
    The rights of man, the rights of cash, the left, the right, the centre;
    Come on, let’s off and make a dash, and meet it where we enter
    The road that no-one looks upon, except as birds of passage:
    Oh Edgware Road be our abode, and let us hear your message.</p>

    <p>&copy; John Betjeman, 1968<p>
        </div>

    </div>



    </div>


</div>
<!-- END : component -->
