<!-- START : component -->
<div id="scene26" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">
        <h1 class="color--white title minus100-margin">Sir John Betjeman</h1>
        <div class="section__content__inner--title smaller">
            <p>Sir John Betjeman (1906-1984) was Britain’s Poet Laureate from 1972 until his death. When his Collected Poems came out in 1958 they made publishing history and have since sold over two and a quarter million copies.</p>
            <p>But Betjeman was not only a poet. Through his broadcasting and journalism he opened people’s eyes to the value of the buildings and landscape around them and became Britain’s grand champion of its heritage.</p>
            <p>This poem was written specially for the 1968 documentary, “Contrasts: Marble Arch to Edgware” and recited by Betjeman from the roof of Marble Arch.</p>
        </div>
    </div>



    </div>


</div>
<!-- END : component -->
