<!-- START : component -->
<div id="scene19" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--right-50">

        <h1 class="title">Myth One</h1>

        <div class="section__content__inner--title smaller">
            <p>It is often said that the Arch was removed from Buckingham Palace because it was too narrow to accommodate Queen Victoria’s State Coach. In fact, Queen Victoria’s coronation procession passed easily through the Arch on its way to Westminster Abbey in 1838 and Queen Elizabeth II’s coronation procession also travelled with ease through the Arch in 1953.</p>
        </div>

    </div>

    </div>


</div>
<!-- END : component -->
