<!-- START : component -->
<div id="scene18" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--right-50">
            <h2 class="color--white title">Common Myths</h2>
            <div class="section__content__inner--title smaller">
                <p>Over the years a number of stories about Marble Arch have emerged and been popularised but are simply not true. </p>
                <span class="caption">Coronation procession of Queen Elizabeth II passes through Marble Arch, 1953 © Press Association.</span>
            </div>
        </div>

    </div>


</div>
<!-- END : component -->
