<!-- START : component -->
<div id="scene9A" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--right-50">
            <div class="section__content__inner--title smaller dark-copy">
                <p>Above both the western and eastern doors of the gallery are some figures of “winged victories”, many shorn of their wings, some have had their laurel wreaths replaced, one now holds a painter’s easel and brushes.</p>
                <p>A portrait of Wellington that was to have filled the empty frame between Europe and Asia is now inside the staff entrance to the gallery.</p>
            </div>
        </div>


        <div class="section__content__inner section__content__inner--left-50">
            <div class="image-wrap">
                <div class="smaller dark-copy sub-image scene9-2-sub-image"></div>
                <span class="sub-image-cation caption">Winged victories on the National Gallery by Bob Speel.</span>
            </div>
        </div>

    </div>

</div>
<!-- END : component -->
