<!-- START : component -->
<div id="scene2" class="scene section">

    <div class="section__content">

        <ul class="menu"
        data-bottom-top="opacity: 0;"
        data-center="opacity: 1;"
        data-top-bottom="opacity: 0;"
        >
            <li class="menu__item"><a class="menu__link" href="#scene2">A Triumphal Arch</a></li>
            <li class="menu__item"><a class="menu__link" href="#scene3">A Sculptural Puzzle</a><li>
            <li class="menu__item"><a class="menu__link" href="#scene4">What Happened to the Rest of the Sculpture?</a><li>
            <li class="menu__item"><a class="menu__link" href="#scene5">A New Home for Marble Arch</a><li>
            <li class="menu__item"><a class="menu__link" href="#scene6">Today’s Arch</a><li>
            <li class="menu__item"><a class="menu__link" href="#scene7">Common Myths</a><li>
            <li class="menu__item"><a class="menu__link" href="#scene8">Poem by Sir John Betjeman </a><li>
            <li class="menu__item"><a class="menu__link" href="#scene9">Acknowledgements</a><li>
        </ul>

    </div>

</div>
<!-- END : component -->
