<!-- START : component -->
<div id="scene11" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--right-50">

            <h2 class="color--white title">A New Home For Marble Arch</h2>

            <div class="section__content__inner--title smaller">
                <p>Marble Arch stood as a formal gateway to Buckingham Palace for seventeen years, but it was overshadowed by Blore’s enlarged Buckingham Palace and seen as unsatisfactory.</p>
                <p>In 1850 the decision was taken to move the Arch to its current location of Cumberland Gate where it would form a grand entrance to Hyde Park in time for the Great Exhibition of 1851.</p>
                <p>The stone by stone removal and reconstruction of the Arch was overseen by architect Thomas Cubitt who completed the entire complex process in just three months.</p>
                <span class="caption">Marble Arch c.1900. Reproduced by permission Historic England Archive.</span>
            </div>

        </div>

    </div>

</div>
<!-- END : component -->
