<!-- START : component -->
<div id="scene16" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--right-50">
        <div class="section__content__inner--title smaller dark-copy">
            <p><strong>South side of the Arch</strong><br>On this side the panels are by E.H. Baily who is perhaps best known for the statue of Nelson in Trafalgar Square.</p>
            <p>"Virtue and Valour" Virtue is the figure on the right holding the fasces (a bundle of rods around an axe) that symbolise strength through unity and on the left stands a soldier in Roman dress representing valour. </p>
            <p>"Peace and Plenty" The Angel of Peace is to the left. Plenty with her cornucopia to the right. The flame in the middle represents liberty. </p>
            <p>On this side, between the Victories, the keystone of all three arches is a bearded male head, possibly Neptune. </p>
        </div>
    </div>

    <div class="section__content__inner section__content__inner--left-50">
        <div class="image-wrap">
            <div class="smaller dark-copy sub-image scene16-sub-image"></div>
            <span class="sub-image-cation caption">Peace with Trophies of War&copy; Historic England Archive.</span>
        </div>
    </div>

    </div>

</div>
<!-- END : component -->
