<!-- START : component -->
<div id="scene13" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

        <div class="section__content__inner section__content__inner--right-50">
            <div class="section__content__inner--title smaller dark-copy">
                <p>The sculptures that Wilkins didn’t want or couldn’t use were dispersed. The whereabouts of many remain unknown. One panel, “The Battle of St Vincent” has been incorporated into Regent’s Place, next to Regent’s Park on Euston Road where it hosts a raised planter.</p>
            </div>
        </div>

        <div class="section__content__inner section__content__inner--left-50">
            <div class="image-wrap">
                <div class="smaller dark-copy sub-image scene22-sub-image"></div>
                <span class="sub-image-cation caption">The Battle of St. Vincent at Regent’s Place Plaza, courtesy of British Land.</span>
            </div>
        </div>

    </div>

</div>
<!-- END : component -->
