<!-- START : component -->
<div id="scene20" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">

        <h2 class="title">Myth Two</h2>

        <div class="section__content__inner--title smaller overflow-content">
            <p>Marble Arch is sometimes referred to as a former Police Station.  It never was a fully functioning police station, i.e. a place to report crimes, a building with holding cells or interview rooms. It was used occasionally by the police for accommodation but more often as a useful outpost during demonstrations.<p>
            <p>The myth may have grown out of confusing Marble Arch with the Wellington Arch at Hyde Park Corner, which did house a working police station until the late 1950s. </p>
        </div>

    </div>

    </div>


</div>
<!-- END : component -->
