<!-- START : component -->
<div id="scene15" class="scene section background-color--white">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">

        <div class="section__content__inner--title smaller dark-copy overflow-content">
            <p><strong>Right Panel:</strong> "Peace with Trophies of War" Peace stands on a heap of shields, helmets and weapons. In her hand she holds an olive branch. Two cherubs hold her gown. Above each of the three arches are pairs of “Victories” with their laurel wreaths. </p>
            <p>The central keystones of the lower arches are the heads of warriors wearing Greek helmets pushed back in the manner of statues of Athena. The central arch has a magnificent lion’s head carving as its keystone, with clawed feet protruding from under its mane.</p>
            </div>

    </div>

    <div class="section__content__inner section__content__inner--right-50">

        <div class="section__content__inner--title smaller dark-copy">
            <img src="images/scenes/scene15/scene15-sub-image.jpg" alt="Peace with Trophies of War" />
            <span class="caption">Peace with Trophies of War © Historic England Archive.</span>
        </div>

    </div>

    </div>

</div>
<!-- END : component -->
