<!-- START : component -->
<div id="scene23" class="scene section acknowledgements">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner text-align--center">

        <h2 class="color--white title">Acknowledgements</h2>

    </div>

    <div class="section__content__inner--title smaller">
        <p>We are indebted to the scholarship of Philip Ward-Jackson in his book Public Sculpture of Historic Westminster, Liverpool University Press (2011) and to Roger H. Bowdler and Steven P. Brindle’s English Heritage guidebook, Wellington Arch, Marble Arch and Six Great War Memorials (2015). <a href="http://www.english-heritage.org.uk">www.english-heritage.org.uk</a><p>
    </div>

    </div>


</div>
<!-- END : component -->
