<!-- START : component -->
<div id="scene23" class="scene section">

    <div class="section__content"
    data-bottom-top="opacity: 0;"
    data-center="opacity: 1;"
    data-top-bottom="opacity: 0;"
    >

    <div class="section__content__inner section__content__inner--left-50">

        <div class="section__content__inner--title">
            <p>Poet, Sir John Betjeman was also filmed inside Marble Arch for a 1960s TV documentary and mischievously repeated the myth.<p>
        </div>

    </div>

    </div>


</div>
<!-- END : component -->
