<div id="data" class="data">0</div>
<div id="progress-bar" class="progress-bar"
  data-0="width: 0%;"
  data-end="width: 100%"
  ></div>

<!-- START : Site header -->
<header class="site-header">
	<div class="site-header__inner"></div>
</header>
<!-- END : Site header -->
