<svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="arrow-point-to-down" viewBox="0 0 404.308 404.309">
      <title>arrow-point-to-down icon</title>
       <g> <path d="M0,101.08h404.308L202.151,303.229L0,101.08z" fill="#FFFFFF"/> </g>                
    </symbol></svg>